body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.18rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2{
  font-size: 2.7rem;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2rem;
}

p{
  font-size: 0.97rem;
  color: #8f8f8f;
}
/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Download buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features{
  background-color: #fff;
  padding: 5% 15%;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 5% 15%;
}

/* Press Section? */
#press{
  padding-bottom: 3%;
  text-align: center;
  background-color: #ef8172;

}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 90px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}

/* cta section */
#cta{
  padding: 5% 15%;
  text-align: center;
  color: #fff;
  background-color: #ff4c68 ;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: bolder;
  font-size: 3.1rem;
  line-height: 1.5;
}

/* Footer section */
#footer{
  padding: 5% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}
